---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ReviewCard from "@components/ReviewCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const reviews = (await getCollection("reviews"))
  .filter((review) => !review.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_REVIEWS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Welcome to Bond Reviews, where I bore you with what I think of things.
              </p>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest reviews
            </h2>
            <Link href="/reviews"> See all reviews </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              reviews.map((review) => (
                <li>
                  <ReviewCard entry={review} />
                </li>
              ))
            }
          </ul>
        </section>

      </div>
    </aside>
  </Container>
</Layout>
