---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ReviewCard from "@components/ReviewCard.astro";
import { REVIEWS } from "@consts";

const data = (await getCollection("reviews"))
  .filter((review) => !review.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"reviews">[];
};

const reviews = data.reduce((acc: Acc, review) => {
  const year = review.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(review);
  return acc;
}, {});

const years = Object.keys(reviews).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={REVIEWS.TITLE} description={REVIEWS.DESCRIPTION}>
  <Container>
    
      <div class="space-y-10">
        <div class="space-y-4">
          {
            years.map((year) => (
              <section class="animate space-y-4">
                <div class="font-semibold text-black dark:text-white">
                  {year}
                </div>
                <div>
                  <ul class="not-prose flex flex-col gap-4">
                    {reviews[year].map((review) => (
                      <li>
                        <ReviewCard entry={review} />
                      </li>
                    ))}
                  </ul>
                </div>
              </section>
            ))
          }
        </div>
      </div>
    </aside>
  </Container>
</Layout>
