---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import BaseLink from "@components/Link.astro";
import { SITE, MENU } from "@consts";
---
 
<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="./" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        {MENU.map((item, i) => {
          return (
            <span class="flex items-center gap-1">
              <BaseLink href={item.HREF}>{item.TITLE}</Link>
              {i < MENU.length - 1 ? <span>{`/`}</span> : null}
            </span>
          );
        })}
      </nav>
    </div>
  </Container>
</header>
